@keyframes decolage {
   100% {
        bottom: 61.5%;
    }
}

@keyframes stable {

    to {
        bottom: 60%;
    }
}

@keyframes leave {
    100% {
        bottom: 100%;
    }
}

/* Ecran > 1180px */
@keyframes decolage1 {
    100% {
         bottom: 63.5%;
    }
 }
 
 
 @keyframes stable1 {
 
     to {
         bottom: 62%;
     }
 }
 
 @keyframes leave1 {
     100% {
         bottom: 100%;
     }
 }


.fusee-container {
    width: fit-content;
    margin: auto;
    position: fixed;
    left: 50vw;
    bottom: -110px;
    transform: translateX(-30px);
    animation: decolage 2.8s ease-in-out forwards, stable 0.6s 2.8s ease-in-out alternate infinite,leave 0.8s 16s ease-in-out forwards
}

.fusee {
    width: 60px;
    height: 60px;
}

@media (max-width: 1180px) {
    .fusee-container {
        animation: decolage1 2.8s ease-in-out forwards, stable1 0.6s 2.8s ease-in-out alternate infinite,leave1 0.8s 16s ease-in-out forwards;
    }
}

@media (max-width: 778px) {
    .fusee {
        width: 50px;
        height: 50px;
    }

    .fusee-container {
        transform: translateX(-25px);
    }
}