@keyframes decolage {
   100% {
        bottom: 61.5%;
    }
}

/* @keyframes acceleration {
    0% {
        bottom: 60px;
    }

    100% {
        bottom: 100%;
    }
} */

@keyframes stable {

    to {
        bottom: 60%;
    }
}

@keyframes leave {
    100% {
        bottom: 100%;
    }
}


.fusee-container {
    width: fit-content;
    margin: auto;
    position: fixed;
    left: 50vw;
    bottom: -110px;
    transform: translateX(-30px);
    animation: decolage 2.8s ease-in-out forwards, stable 0.6s 2.8s ease-in-out alternate infinite, leave 0.8s 8s ease-in-out forwards;
}

.fusee {
    width: 60px;
    height: 60px;
}