.nav-container {
    margin-bottom: 38px;
}

.navbar {
    margin-block: 38px;
    position: relative;
    /* background: red; */
    display: flex;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.me {
    background: rgba(67, 64, 68, 0.425);
    position: absolute;
    text-align: center;
    right: 0;
    top: 85px;
    width: 350px;
    overflow: hidden;
    z-index: 100;
    transition: 0.6s ease-in-out;
}

.me p {
    text-align: center;
    background: rgba(102, 51, 153, 0.521);
    width: fit-content;
    padding-block: 6px;
    margin-inline: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 82px;
    background: rebeccapurple;
}

.logo span {
    font-family: 'Audiwide';
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.profil img {
    width: 42px;
}

.profil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid;
    box-shadow: white 2px 1.8px 0;
    cursor: pointer;
}

@media (max-width: 472px) {
    .logo span {
        font-size: 20px;
    }

    .logo img {
        width: 60px;
    }
    
    .profil img {
        width: 36px;
    }
}