.competence-container {
    max-width: 70vw;
    margin-inline: auto;
}

.langage-container {
    position: relative;
}


/* Boutons de navigation */
.langage-container input {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.competence-container input:last-child {
    right: 0;
}

.langage-slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.langage-slider::-webkit-scrollbar {
    display: none;
}