@font-face {
  font-family: 'Orbitron';
  src: url("./assets/fonts/orbitron.ttf");

}

@font-face {
  font-family: "Funnel";
  src: url("./assets/fonts/funnel.ttf");
}

@font-face {
  font-family: "Audiwide";
  src: url("./assets/fonts/Audiowide.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  font-family: "Audiwide";
  font-size: 48px;
}

h2 {
  font-family: "Audiwide";
}

p {
  font-family: "funnel";
  font-size: 20px;
}

:root { 
  background: #000311;
  position: relative;
}
