@font-face {
  font-family: 'Orbitron';
  src: url("./assets/fonts/orbitron.ttf");

}

@font-face {
  font-family: "Funnel";
  src: url("./assets/fonts/funnel.ttf");
}

@font-face {
  font-family: "Audiwide";
  src: url("./assets/fonts/Audiowide.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  font-family: "Audiwide";
  font-size: 48px;
}

h2 {
  font-family: "Audiwide";
}

p {
  font-family: "funnel";
  font-size: 20px;
  text-align: justify;
  hyphens: auto;
}

:root { 
  --show-n-item : 8;
  --max-width : 1278px;
  --h1 : 42px;
  background: #000311;
  position: relative;
}

@media (max-width: 1650px) {
  :root {
    --max-width : 1110px;
    --show-n-item : 7;
  }
}

@media (max-width: 1455px) {
  :root {
    --max-width : 1000px;
    --show-n-item : 6;
  }
}

@media (max-width: 1220px) {
  :root {
    --max-width : 850px;
    --show-n-item : 5;
  }
}

@media (max-width: 810px) {
  :root {
    --show-n-item : 4;
  }
}

@media (max-width: 450px) {
  :root {
    --show-n-item : 2;
    --h1 : 28px
  }
}

@media (max-width: 412px) {
  :root {
    --show-n-item : 2;
    --h1 : 30px
  }
}